// {
//   "plugins": [
//     "@babel/syntax-dynamic-import",
//     "@babel/plugin-transform-runtime",
//     "@babel/plugin-syntax-flow",
//     [
//       "@babel/plugin-proposal-decorators",
//       {
//         "legacy": true
//       }
//     ]
//   ],
//   "presets": [
//     "react-app",
//     "@babel/preset-react",
//     [
//       "@babel/preset-env",
//       {
//         "modules": "auto"
//       }
//     ]
//   ]
// }

// {
//   "plugins": ["transform-decorators-legacy"],
//   "presets": ["react-app"]
// }
{
  "plugins": [
    "@babel/syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-flow",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ],
  "presets": ["@babel/preset-env", "@babel/preset-react"]
}
